.Help {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 6%;
  left: 80%;
  font-family: Jura;
  font-weight: Regular;
  font-size: 130%;
  opacity: 1;
  text-align: left;
}

.menu {
  width: 13%;
  position: absolute;
  top: 2%;
  right: 3%;
  visibility: hidden;
}

.Contact {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 6%;
  left: 70%;
  font-family: Jura;
  font-weight: Regular;
  font-size: 130%;
  opacity: 1;
  text-align: left;
}

.cookandshare {
  color: rgb(165, 42, 42);
  position: absolute;
  top: 25%;
  left: 5%;
  font-family: Junge;
  font-weight: Regular;
  font-size: 550%;
  opacity: 1;
  text-align: left;
  width: 50%;
}

.Aboutus {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 6%;
  left: 57%;
  font-family: Jura;
  font-weight: Regular;
  font-size: 130%;
  opacity: 1;
  text-align: left;
}

.Shop {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 6%;
  left: 45%;
  font-family: Jura;
  font-weight: Regular;
  font-size: 130%;
  opacity: 1;
  text-align: left;
}

.funquick {
  width: 41%;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 68%;
  left: 5%;
  font-family: Jura;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.Home {
  color: rgb(231, 96, 23);
  position: absolute;
  top: 6%;
  left: 35%;
  font-family: Jura;
  font-weight: Regular;
  font-size: 130%;
  opacity: 1;
  text-align: left;
}

.ordernowbutton {
  color: rgb(141, 23, 24);
  position: absolute;
  top: 80%;
  left: 5%;
  font-family: Jura;
  font-weight: Bold;
  font-size: 200%;
  opacity: 1;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(141, 23, 24);
}

.addingnew {
  width: 317px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 20%;
  left: 5%;
  font-family: Jura;
  font-weight: Regular;
  font-size: 100%;
  opacity: 2;
  text-align: left;
}

#logo {
  width: 10%;
  position: absolute;
  top: 0%;
}

#foodhomepage {
  position: absolute;
  width: 60%;
  top: 10%;
  right: 0px;
}

.cart {
  position: absolute;
  top: 5%;
  right: 7%;
  width: 3%;
}

#grayrectangle {
  background-color: rgb(116, 112, 112);
  height: 90%;
  width: 100%;
  border: 1px rgb(0, 0, 0);
  position: absolute;
  top: 115%;
  left: 0%;
}

.over200 {
  color: rgb(231, 231, 231);
  position: absolute;
  text-align: center;
  top: 125%;
  font-family: Junge;
  font-weight: Regular;
  font-size: 550%;
  opacity: 1;
  right: 20%;
}

.oneclick {
  width: 853px;
  color: rgb(231, 231, 231);
  position: absolute;
  text-align: center;
  top: 140%;
  font-family: Junge;
  font-weight: Regular;
  font-size: 350%;
  opacity: 1;
  right: 22%;
}

.pinkbox {
  background-color: rgb(219, 176, 157);
  height: 630px;
  width: 1043px;
  border-radius: 29px;
  position: absolute;
  top: 160%;
  left: 16%;
}

#panzerotti {
  position: absolute;
  width: 20%;
  top: 170%;
  left: 25%;
}

#mashedpotatoes {
  position: absolute;
  width: 21%;
  top: 169%;
  right: 20%;
}

.textpanz {
  width: 331px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 210%;
  left: 25%;
  font-family: Jura;
  font-weight: SemiBold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}

.subtextpanz {
  width: 358px;
  color: rgba(141, 23, 24, 1);
  position: absolute;
  top: 218%;
  left: 320px;
  font-family: Jura;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.textmash {
  width: 331px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 210%;
  right: 17%;
  font-family: Jura;
  font-weight: SemiBold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}

.subtextmash {
  width: 358px;
  color: rgb(141, 23, 24);
  position: absolute;
  top: 218%;
  right: 260px;
  font-family: Jura;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.panzbutton {
  position: absolute;
  color: rgb(141, 23, 24);
  position: absolute;
  top: 227%;
  left: 450px;
  font-family: Jura;
  font-weight: Bold;
  font-size: 130%;
  opacity: 1;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(141, 23, 24);
}

.mashbutton {
  position: absolute;
  color: rgb(141, 23, 24);
  position: absolute;
  top: 227%;
  right: 27%;
  font-family: Jura;
  font-weight: Bold;
  font-size: 130%;
  opacity: 1;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(141, 23, 24);
}

#endpagebar {
  background-color: rgb(219, 176, 157);
  height: 89px;
  width: 100%;
  position: absolute;
  top: 240%;
  left: 0%;
}

#cookingwithangelina {
  position: absolute;
  top: 244%;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: Jura;
  right: 570px;
}

@media screen and (max-width: 670px) {
  .Help {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Jura;
    width: 69px;
    visibility: hidden;
  }
  .Contact {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Jura;
    width: 69px;
    visibility: hidden;
  }

  .Aboutus {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Jura;
    width: 90px;
    visibility: hidden;
  }

  .Shop {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Jura;
    width: 69px;
    visibility: hidden;
  }

  .Home {
    color: rgb(231, 96, 23);
    font-size: 18px;
    font-family: Jura;
    width: 69px;
    visibility: hidden;
    top: 13%;
    right: 70%;
  }

  .cookandshare {
    color: rgb(165, 42, 42);
    position: absolute;
    top: 74%;
    left: 5%;
    font-family: Junge;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
    width: 80%;
  }

  .funquick {
    width: 80%;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 85%;
    left: 6%;
    font-family: Jura;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }

  .ordernowbutton {
    color: rgb(141, 23, 24);
    position: absolute;
    top: 92%;
    left: 5%;
    font-family: Jura;
    font-weight: Bold;
    font-size: 110%;
    opacity: 1;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(141, 23, 24);
  }

  .addingnew {
    width: 317px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 20%;
    left: 5%;
    font-family: Jura;
    font-weight: Regular;
    font-size: 100%;
    opacity: 2;
    text-align: left;
  }

  #logo {
    width: 25%;
    position: absolute;
    top: 0%;
  }

  #foodhomepage {
    position: absolute;
    width: 100%;
    top: 10%;
    right: 0px;
  }

  .cart {
    position: absolute;
    top: 1%;
    right: 20%;
    width: 15%;
  }

  .menu {
    width: 13%;
    position: absolute;
    top: 2%;
    right: 3%;
    visibility: visible;
  }

  .dropdownmenu {
    background-color: #dbb09d;
    font-size: 10px;
    color: rgb(0, 0, 0);
    height: 170px;
    width: 130px;
    border-radius: 14px 0px 14px 14px;
    position: absolute;
    top: 10%;
    right: 5%;
    visibility: visible;
    text-align: center;
    line-height: 30px;
  }

  .Blog1 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Jura;
    width: 69px;
    visibility: visible;
    top: 30%;
  }

  .Shop1 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Jura;
    width: 69px;
    visibility: visible;
  }

  .Aboutus1 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Jura;
    width: 90px;
    visibility: visible;
  }

  .Recipes1 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Jura;
    width: 69px;
    visibility: visible;
  }

  .Home1 {
    color: rgb(231, 96, 23);
    font-size: 18px;
    font-family: Jura;
    width: 69px;
    visibility: visible;
    top: 13%;
    right: 70%;
  }

  #grayrectangle {
    background-color: rgb(116, 112, 112);
    height: 500px;
    width: 375px;
    position: absolute;
    top: 105%;
    left: 0%;
  }

  .over200 {
    color: rgb(231, 231, 231);
    position: absolute;
    top: 110%;
    left: 15%;
    font-family: Junge;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    width: 80%;
  }

  .oneclick {
    color: rgb(231, 231, 231);
    position: absolute;
    top: 116%;
    left: 25%;
    font-family: Junge;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    width: 60%;
  }

  .pinkbox {
    background-color: rgb(219, 176, 157);
    height: 430px;
    width: 375px;
    border-radius: 29px;
    position: absolute;
    top: 124%;
    left: 0%;
  }

  #panzerotti {
    position: absolute;
    width: 40%;
    top: 130%;
    left: 5%;
  }

  #mashedpotatoes {
    position: absolute;
    width: 43%;
    top: 160%;
    left: 5%;
  }

  .textpanz {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 131%;
    left: 50%;
    width: 50%;
    font-family: Jura;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
  }

  .subtextpanz {
    width: 50%;
    color: rgba(141, 23, 24, 1);
    position: absolute;
    top: 137%;
    left: 47%;
    font-family: Jura;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }

  .textmash {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 161%;
    left: 50%;
    width: 50%;
    font-family: Jura;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
  }

  .subtextmash {
    width: 50%;
    color: rgba(141, 23, 24, 1);
    position: absolute;
    top: 167%;
    left: 47%;
    font-family: Jura;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }

  .panzbutton {
    position: absolute;
    color: rgb(141, 23, 24);
    position: absolute;
    width: 30%;
    top: 145%;
    left: 57%;
    font-family: Jura;
    font-weight: Bold;
    font-size: 130%;
    opacity: 1;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(141, 23, 24);
  }

  .mashbutton {
    position: absolute;
    color: rgb(141, 23, 24);
    position: absolute;
    width: 30%;
    top: 177%;
    left: 57%;
    font-family: Jura;
    font-weight: Bold;
    font-size: 130%;
    opacity: 1;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(141, 23, 24);
  }

  #endpagebar {
    background-color: rgb(219, 176, 157);
    height: 50px;
    width: 100%;
    position: absolute;
    top: 190%;
    left: 0%;
  }

  #cookingwithangelina {
    position: absolute;
    top: 191%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Jura;
    right: 30px;
  }
}
